ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

.buttonvalid{
  left: 50%;
}

.conntent{
  top:35%;
  display: flex;
  flex-direction: column;
}

.title{
  background-color: #ffffffc2;
  padding: auto;
  border-radius: 50px
}