<ion-content>
    <div class="padding">



        <div class="logo">
            <ion-icon name="people-circle-outline" color="light"></ion-icon>
        </div>

        <ion-item counter="true">
            <ion-label color="white" position="floating">Nom</ion-label>
            <ion-input color="black" placeholder="Entrez le nom d'utilisateur" type="text" maxlength="20"></ion-input>
          </ion-item>
          
          <ion-item counter="true" >
            <ion-label color="white" position="floating">Mot de passe:</ion-label>
            <ion-input color="black" placeholder="Entrez le mot de passe" type="password" maxlength="20"></ion-input>
          </ion-item>



<ion-button shape="round" expand="block">Connexion</ion-button>
        </div>

</ion-content>