
<ion-header>
  <ion-toolbar color="danger">
    
        <ion-title>Liste des vannes</ion-title>
      </ion-toolbar >
      <ion-toolbar color="danger">
        <ion-searchbar ></ion-searchbar>
     
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
  <div class="ion-text-center ion-margin-top ion-margin-bottom">
    <div class="orderSummary">
   
    </div>
  </div>
  <ion-card class="title">
    <h4 class="valvetitle" >Ajouter Information vanne:</h4>
  </ion-card>


  <ion-card class="valve">
    <h4 class="valvetitle" >Vanne 1:</h4>
    <ion-row class="ion-align-items-center">
      <ion-col size="8" class="ion-padding">
        <ion-row>
          <ion-col class="bold">
            <h5 class="ion-no-margin">
              État:<ion-button fill="clear" shape="round" (click)=presentAlert() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button><ion-select placeholder="ON/OFF">
                <ion-select-option value="ON">Ouvert</ion-select-option>
                <ion-select-option value="OFF">Fermé</ion-select-option>
               
              </ion-select>
              
            </h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="address-text">
           
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="bold">
            <h5 class="ion-no-margin"> Température en amont:<ion-button fill="clear" shape="round" (click)=presentAlert2() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
              <ion-label position="floating"></ion-label>
              <ion-input placeholder="Enter text"></ion-input>

              <h5 class="ion-no-margin"> Température en aval:<ion-button fill="clear" shape="round" (click)=presentAlert3() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
                <ion-label position="floating"></ion-label>
                <ion-input placeholder="Enter text"></ion-input>
                </h5>
            </h5>
            <h5 class="ion-no-margin" > Température attendue (en aval):
              </h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            
          </ion-col>
        </ion-row>
      </ion-col >
      <ion-col size="8">
        <ion-button >Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  



  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-tab-button shape="round" (click)=onclick() value="1">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
  </ion-fab>

<ion-card class="title">
  <h4 class="valvetitle" >Vanne Sauvegarder:</h4>
</ion-card>


  <ion-list *ngFor="let item of listItems">
    <ion-item href detail>
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="{{item.imageURL}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">{{ item.name }}</ion-label>
      <ion-label>{{ item.etat }}</ion-label>
      temp amont:{{ item.temA }} temp aval:{{ item.temB }}
    </ion-item>
  </ion-list>

  <div #container></div>
  

</ion-content>
