ion-select {
    --placeholder-color: #7b0b0b;
    --placeholder-opacity: 0.5;
    width: 100%;
    justify-content: center;
  }

  .help{
    --ion-background-color:transparent!important;
  }

  .title{
    background-color: #ffffffc2;
    padding: auto;
    border-radius: 50px
  }

  .ion-margin-end{
    background-color: #816d6d;
  }

  ion-list{
    padding: auto;
    top:50%;
    
  }
  
  ion-select::part(placeholder),
  ion-select::part(text) {
    flex: 0 0 auto;
  }
  
  ion-select::part(placeholder)::first-letter {
    font-size: 20px;
    font-weight: 500;
  }
  
  ion-select::part(text) {
    color: #54a75f;
  }
  
  
  ion-select::part(icon) {
    color: #971e49;
    opacity: 1;
  }

  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  

  

  
  .content {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .valve {
    background-image: linear-gradient(-60deg, rgb(174, 168, 168) 35%, rgb(210, 210, 210) 50%);
    border-radius: 20px
  }

  .t{
    color: black;
  }

  .valvetitle {
    color: rgb(51, 49, 49);
    text-align: center;
    
  }

  ion-searchbar{
    --background: #9d4f4f;
    --color: rgb(255, 255, 255);
    --placeholder-color: rgb(255, 255, 255);
    --icon-color: rgb(0, 0, 0);
    --clear-button-color: #fff;
  
    --border-radius: 50px;
  }

  ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }

  .back{
    background-color: #2d2d2d69;
  }

  .list{
    border-radius: 15px
  }
  .list2{
    display: none;
    visibility: hidden;
  }
  .colorlist{
    background-color:#bd9494;
  }
  .colorlist2{
    --background: #bd9494;
  }
  








  
