<ion-header>
  <ion-toolbar color="tertiary" >
    
        <ion-title>Liste des vannes, Tranche {{ntranche}} </ion-title>
      </ion-toolbar >
      <ion-toolbar color="tertiary" >

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-menu contentId="main-content">
  <ion-content>
    <div class="menu1">
      <div class="menu-header-bg">
        <div class="header-content">
          <div class="logo">
            <ion-icon color="light" name="person-circle-outline"></ion-icon>
            <ion-label>
              <h2></h2>
              <p></p>
            </ion-label>
          </div>
        </div>
      </div> 

      <div>
        <ion-icon  color="light" name="settings-outline"></ion-icon>
      </div>
      <ion-icon color="light" name="person-circle-outline"></ion-icon>

      <ion-button shape="round">Paramètre</ion-button>
      
      
      <div class="vide">
      </div>

      <ion-button (click)="logout()" shape="round" color="danger">Déconnexion</ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
  </ion-content>
</div>




<ion-content>
  <div class="bg"></div>
    <div class="ion-text-center ion-margin-top ion-margin-bottom">
      <div class="orderSummary">
      </div>
    </div>

  <ion-card class="back">
    <ion-card class="title">
      <h4 class="valvetitle" >Ajouter Information vanne:</h4>
    </ion-card>
    <ion-card class="valve">
      
      <h4 class="valvetitle" >
        <h5 class="ion-no-margin">
          <ion-item color="ligh">
            Date de la mesure:
            {{tournee_rendementdatestart}} au {{tournee_rendementdatefin}} <br>

            Tranche N° {{ntranche}}

            <ion-label position="floating">Repère fonctionnel de la vanne</ion-label><ion-button fill="clear"  shape="round" (click)=presentAlert0() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
        
            <ion-select (ionChange)="onclick2()" placeholder="..." [(ngModel)]="N">
              <ion-select-option   *ngFor="let vannesfoncs of vannesfonc">{{vannesfoncs}}</ion-select-option>
            </ion-select>

          </ion-item>
        </h5>
      </h4>
      
      <ion-row class="ion-align-items-center">
        <ion-col size="8" class="ion-padding">
          <ion-row>
            <ion-col class="bold">
              <h5 class="ion-no-margin">
                État:<ion-button fill="clear" shape="round" (click)=presentAlert() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
                
                <ion-select placeholder="Position constatée" [(ngModel)]="ETAT">
                  <ion-select-option  value="OUVERTE">OUVERTE</ion-select-option>
                  <ion-select-option  value="INTEGRE">INTEGRE</ion-select-option>
                  <ion-select-option  value="FERMEE ">FERMEE </ion-select-option>
                  <ion-select-option  value="S.O">S.O</ion-select-option>
                </ion-select>

                <h5 class="ion-no-margin" > Position attendue :
                  <h5 >{{ pos}}</h5>
                </h5>

              </h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="address-text">
            
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="bold">
              <h5 class="ion-no-margin"> Température en amont:<ion-button fill="clear" shape="round" (click)=presentAlert2() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
                <ion-label  position="floating"></ion-label>
                <ion-input maxlength="5" type="number" [(ngModel)]="TAM" placeholder="Temperature en C°"></ion-input>

                <h5 class="ion-no-margin"> Température en aval:<ion-button fill="clear" shape="round" (click)=presentAlert3() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
                  <ion-label position="floating"></ion-label>
                  <ion-input maxlength="5" type="number" [(ngModel)]="TAV" placeholder="Temperature en C°"></ion-input>
                </h5>
              </h5>
              <h5 class="ion-no-margin" > Température attendue (en aval):
                <h5 >{{att}}</h5>
              </h5>
          
            </ion-col>
          </ion-row>
          <ion-col class="bold">
            <h5 class="ion-no-margin">Note: <ion-button fill="clear" shape="round" (click)=presentAlert4() color="dark"><ion-icon name="help-outline"></ion-icon></ion-button>
              <ion-label  position="floating"></ion-label>
              <ion-input maxlength="240" type="text" [(ngModel)]="NOTE" placeholder="..."></ion-input>

            </h5>
            <ion-button   [(ngModel)]="PHOTO" shape="round" (click)=Takepicture()><ion-icon name="camera-outline"></ion-icon></ion-button>
        
          </ion-col>
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-col >
        <ion-col size="8">
          <ion-button shape="round" (click)=onclick() >Valider</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="title">
      <h4 class="valvetitle" >Vannes sauvegardées:</h4>
    </ion-card>


    <ion-card class="list">


    <ion-list [inset]="true" *ngFor="let item of listItems">
      <ion-item>
        <ion-label >{{ item.name }}</ion-label>

        <ion-img [ngStyle]="{'max-width': '80px', 'max-height': '80px'}" [src]="item.imageuURL"></ion-img>
       
      </ion-item>
      <ion-item>
        <ion-label>{{ item.etat }}</ion-label>
        <ion-label>{{ item.pos }}</ion-label>
      </ion-item>
      <ion-label></ion-label>
      <ion-item>
        Amont:
        <ion-label>{{ item.temA }}°C</ion-label>
      </ion-item>
      <ion-item>
        Aval:
        <ion-label>{{ item.temB }}°C</ion-label>
        <ion-label>{{ item.att }}°C</ion-label>
      </ion-item>
      <ion-item>
        Commentaire:
        <ion-label>{{ item.note }}</ion-label>
      </ion-item>
      <ion-item></ion-item>
      
      </ion-list>
    </ion-card>
  </ion-card>
</ion-content>
