html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(8, 13, 171) 35%, rgb(177, 10, 10) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
label {
  cursor: default;
}

.loginm {
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 32px 16px;
    box-shadow: 0 0 8px #D0D0D0;
    background-color: #ffffff;
    width: 80%;
    height: auto;
    border-radius: 20px;


}

.img{
  min-width: 50%;
  height: auto;
  max-width: 60% ;

}
.loginb {
  margin-top: 10%;
  margin-left: 20%;
  padding: 10px 10px;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 8px #D0D0D0;
  background-color: #b6abab;

  top: 60%; left: 50%;
  width: 60%;
  height: 30%;
  border-radius: 1000px;
}
.tabb {


  padding: 50px 50px;
  border: 50px ;
  box-shadow: 0 0 8px #D0D0D0;
  background-image: linear-gradient(-60deg, rgb(58, 109, 136) 35%, rgb(103, 132, 187) 50%);
  height: 50px;
  display: flex;
  flex-direction: row;
  flex: auto;

}
.btt{
 color: blue;
 opacity: 1;
}

.incription{
  margin: 20px;
}

.label_nom{
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 64px;
  width: 40%;
  height: 30%;
  flex: none;
  order: 0;
  align-self: stretch;
  color: black;
}
.button_v{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background: #535353;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Public Sans';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  margin: 30px;
}
.valve {
  background-image: linear-gradient(-60deg, rgb(174, 168, 168) 35%, rgb(210, 210, 210) 50%);
}

.valvetitle {
  color: rgb(51, 49, 49);
  text-align: center;
  align-items: bottom;
}