<ion-content>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="loginm">
    <div id="body">
        <div id="body">
            <div class="incription">

            </div>
            <!--<img class="img" src="./assets/vannes.jpeg">-->
          
               <ion-tab-button tab="tab_fill">
               <input class="button_v" type="submit" name="valide" value="Renseigner vannes">
               </ion-tab-button>
           
        </div>
    </div>
</div>

<div class="loginm">
    <div id="body">
        <div id="body">
            <div class="incription">

            </div>
            <!--<img class="img" src="./assets/vannes.jpeg">-->
          
               <ion-tab-button tab="tab4">
               <input (click)="presentAlert()" class="button_v" type="submit" name="valide" value="Envoyer les données">
               </ion-tab-button>
               
        </div>
    </div>
</div>



</ion-content>
