<ion-content>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<div class="loginm">
    <h1>Bienvenue</h1>
    <div id="body">
        <div id="body">
            <form tab="tab2" action="/tabs/tab1" method="get">
                <div class="incription">
                    <label class="label_nom" for="nom">Nom :</label>
                   <input [(ngModel)]="Name" type="text" id="Nom" name="Nom">
                </div>
                <div class="incription">
                    <label  class="label_nom" for="nom">Password :</label>
                   <input [(ngModel)]="Password" type="password" id="password" name="password">
               </div>

               <p>donnés : {{Password}}</p>
               
               
               <ion-tab-button tab="tab4">
               <input class="button_v" type="submit" name="valide" value="Log In">
               </ion-tab-button>
           </form>
        </div>
    </div>
</div>

 
</ion-content>