<ion-content>
    <div class="padding">



        <div class="logo">
            <ion-icon name="people-circle-outline" color="light"></ion-icon>
        </div>

        <ion-item counter="true">
            <ion-label color="light" position="floating">Name :</ion-label>
            <ion-input color="light" placeholder="Name" type="text" maxlength="20"></ion-input>
          </ion-item>
          
          <ion-item counter="true" >
            <ion-label color="light" position="floating">Mot de passe :</ion-label>
            <ion-input color="light" placeholder="MDP" type="password" maxlength="20"></ion-input>
          </ion-item>



<ion-button shape="round" expand="block">Connexion</ion-button>
        </div>

</ion-content>