<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Valve list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valve 1</ion-card-title>
      <ion-card-subtitle>Etat :</ion-card-subtitle>
      <ion-card-subtitle>Temperature :</ion-card-subtitle>
      <ion-card-subtitle>Note :</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      t
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Valve 2</ion-card-title>
      <ion-card-subtitle>Etat :</ion-card-subtitle>
      <ion-card-subtitle>Temperature :</ion-card-subtitle>
      <ion-card-subtitle>Note :</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      t
    </ion-card-content>
  </ion-card>
</ion-content>
